/**

 * @description 全局样式
 */

 @charset "utf-8";

 @import './normalize.scss';
//  @import './transition.scss';
//  @import './loading.scss';
 @import './flex.scss';
 @import './public.scss';
 @import './auth.scss';
 @import './element.scss';
 @import './navbar.scss';

 body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
}

html {
  // height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}


a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit !important;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.no-padding {
  padding: 0px !important;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.container_1300{
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

.line-through{
  text-decoration: line-through;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
